<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	throwExceptions="false"> 

	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}"
				archiveFileName="${basedir}/logs/archive/{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="30" />

		<!-- 输出到 System.Diagnostics.Trace -->
		<target name="traceTarget"
				xsi:type="Trace"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}" />

		<!-- 输出到Debug窗口 -->
		<target name="debug"
				xsi:type="Debug"
				layout="${time} | ${level} | ${message} ${exception}" />
	</targets>

	<rules>
		<!-- 日志级别规则：Trace < Debug < Info < Warn < Error < Fatal -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="traceTarget" />
		<logger name="*" minlevel="Error" writeTo="debug" />
	</rules>
</nlog>